ion-header {
  ion-toolbar {
    padding: 0;
    ion-buttons {
      ion-icon, ion-menu-button {
        font-size: 40px;
      }
    }
  }
}

ion-content {

  .segment {
    --border-radius: 10px 10px 0 0;
    ion-segment {
      ion-segment-button {
        --background-checked: #fff;
      }
    }
  }

  ion-item {
    --padding-top: 50px;
    --padding-bottom: 50px;
    --border-radius: 0 0 10px 10px;

    ion-input {
      border: 1px solid #cccccc;
      --placeholder-color: #9B9B9B;
      --background: #FFFBE6;
      border-radius: 4px;
      text-align: center;
    }
  }
}
