<ion-header>
  <ion-toolbar class="ion-padding-horizontal">
    <ion-buttons slot="start">
      <ion-icon src="assets/icon/avatar_parking.svg"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="segment ion-margin-top">
    <ion-segment mode="md" (ionChange)="segmentChanged($event)" value="entrance">
      <ion-segment-button value="entrance">
        <ion-label>Entrada</ion-label>
      </ion-segment-button>
      <ion-segment-button value="enemies">
        <ion-label>Saída</ion-label>
      </ion-segment-button>
    </ion-segment>


    <ion-item lines="none">
      <ion-label position="stacked" color="medium">Número da placa:</ion-label>
      <ion-input placeholder="AAA-0000" class="text-input"></ion-input>
      <ion-button class="ion-margin-top" expand="block" color="disable">
        <ion-text color="medium">CONFIRMAR ENTRADA</ion-text>
      </ion-button>
    </ion-item>
  </div>

</ion-content>
