// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #4DD0E1;
  --ion-color-primary-rgb: 77,208,225;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0,0,0;
  --ion-color-primary-shade: #44b7c6;
  --ion-color-primary-tint: #5fd5e4;

  /** secondary **/
  --ion-color-secondary: #ffffff;
  --ion-color-secondary-rgb: 255,255,255;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #e0e0e0;
  --ion-color-secondary-tint: #ffffff;

  /** tertiary **/
  --ion-color-tertiary: #FFFBE6;
  --ion-color-tertiary-rgb: 255,251,230;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0,0,0;
  --ion-color-tertiary-shade: #e0ddca;
  --ion-color-tertiary-tint: #fffbe9;

  /** success **/
  --ion-color-success: #28DD91;
  --ion-color-success-rgb: 40,221,145;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0,0,0;
  --ion-color-success-shade: #23c280;
  --ion-color-success-tint: #3ee09c;

  /** danger **/
  --ion-color-danger: #FF1744;
  --ion-color-danger-rgb: 255,23,68;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #e0143c;
  --ion-color-danger-tint: #ff2e57;

  /** dark **/
  --ion-color-dark: #0A261D;
  --ion-color-dark-rgb: 10,38,29;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #09211a;
  --ion-color-dark-tint: #233c34;

  /** medium **/
  --ion-color-medium: #9B9B9B;
  --ion-color-medium-rgb: 155,155,155;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0,0,0;
  --ion-color-medium-shade: #888888;
  --ion-color-medium-tint: #a5a5a5;

  /** grey **/
  --ion-color-grey: #F2F2F2;
  --ion-color-grey-rgb: 242,242,242;
  --ion-color-grey-contrast: #000000;
  --ion-color-grey-contrast-rgb: 0,0,0;
  --ion-color-grey-shade: #d5d5d5;
  --ion-color-grey-tint: #f3f3f3;

  .ion-color-grey {
    --ion-color-base: var(--ion-color-grey);
    --ion-color-base-rgb: var(--ion-color-grey-rgb);
    --ion-color-contrast: var(--ion-color-grey-contrast);
    --ion-color-contrast-rgb: var(--ion-color-grey-contrast-rgb);
    --ion-color-shade: var(--ion-color-grey-shade);
    --ion-color-tint: var(--ion-color-grey-tint);
  }

  /** pink **/
  --ion-color-pink: #FF0068;
  --ion-color-pink-rgb: 255,0,104;
  --ion-color-pink-contrast: #ffffff;
  --ion-color-pink-contrast-rgb: 255,255,255;
  --ion-color-pink-shade: #e0005c;
  --ion-color-pink-tint: #ff1a77;

  .ion-color-pink {
    --ion-color-base: var(--ion-color-pink);
    --ion-color-base-rgb: var(--ion-color-pink-rgb);
    --ion-color-contrast: var(--ion-color-pink-contrast);
    --ion-color-contrast-rgb: var(--ion-color-pink-contrast-rgb);
    --ion-color-shade: var(--ion-color-pink-shade);
    --ion-color-tint: var(--ion-color-pink-tint);
  }

  /** disable **/
  --ion-color-disable: #dadada;
  --ion-color-disable-rgb: 218,218,218;
  --ion-color-disable-contrast: #000000;
  --ion-color-disable-contrast-rgb: 0,0,0;
  --ion-color-disable-shade: #c0c0c0;
  --ion-color-disable-tint: #dedede;

  .ion-color-disable {
    --ion-color-base: var(--ion-color-disable);
    --ion-color-base-rgb: var(--ion-color-disable-rgb);
    --ion-color-contrast: var(--ion-color-disable-contrast);
    --ion-color-contrast-rgb: var(--ion-color-disable-contrast-rgb);
    --ion-color-shade: var(--ion-color-disable-shade);
    --ion-color-tint: var(--ion-color-disable-tint);
  }
}
