<ion-content>
  <div class="d-grid-center margin-top-medium">
    <ion-text class="font-16-normal padding-vertical-large" >Confirma o pagamento da placa abaixo?</ion-text>
    <ion-text class="font-38-normal" color="'#00bcd4'">ABC-1234</ion-text>
  </div>
  <div class="d-grid-center">
    <ion-button class="ion-margin-top largeButton"
                expand="block"
                color="purple"
                (click)="confirmExit()">
      <ion-text color="secondary">Confirmar</ion-text>
    </ion-button>
    <ion-button class="ion-no-margin ion-no-padding" expand="block" color="primary" fill="clear" (click)="back()">
      voltar
    </ion-button>
  </div>
</ion-content>
