/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/* Font Import */
@import "app/resources/fonts/fonts.css";

:root {

  --ion-font-family: "Open Sans";
  font-family: "Open Sans";

  ion-toolbar {
    --background: var(--ion-color-primary);
  }

  ion-menu-button {
    color: var(--ion-color-secondary);
  }

  ion-segment {
    --background-checked: #fff;
  }
  ion-content {
    --background: var(--ion-color-grey);
    .segment {
      --background: var(--ion-color-secondary);
      width: 334px;
      margin-left: 20px;
    }
  }

  .font-38-normal {
    font-size: 38px;
    font-weight: 400;
    line-height: 51.75px;
  }

  .font-16-normal {
    font-size: 16px;
    font-weight: 400;
    line-height: 21.79px;
  }


  .margin-top-medium {
    margin-top: 32px;
  }

  .largeButton {
    width: 300px;
    height: 67px;
    border-radius: 4px;
  }

  .text-area-lg {
    border: 1px solid #cccccc;
    background-color: #FFFBE6;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 24px;
    padding-top: 7px;
    height: 67px;
  }

  .medium-modal {
    .modal-wrapper {
      position: absolute;
      max-width: 339px;
      max-height: 294px;
      border-radius: 4px;
    }
    .modal-shadow {
      position: absolute;
      height: 100%;
      width: 100%;
      min-height: 100%;
      background-color: rgba(0, 0, 0, 0.51);
    }
  }

  .d-grid-center {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
